<div class="container">
  <div class="row">

    <div class="span6">
      <div class="well" style="margin-top:20px;">
        <h3 style="text-align:center;">기본설정</h3>
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputEmail"><strong>문제 순서</strong></label>
            <div class="controls">
              <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                학습 순서에 맞게 최적화 시켜서 보여주기
              </label>
              <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                어려운 문제부터 보여주기
              </label>
              <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                쉬운 문제부터 보여주기 
              </label>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputEmail"><strong>답을 보여줄때</strong></label>
            <div class="controls">
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              문제의 정답을 모르는 경우에만 답을 보여주기 
            </label>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              문제의 정답을 아는 경우에도 답을 보여주기
            </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="span6">
      <div class="well" style="margin-top:20px;">
        <h3 style="text-align:center;">내 정보 설정</h3>

          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputEmail">이름</label>
              <div class="controls">
                <input type="text" id="inputEmail" placeholder="이름을 입력하세요" value="이두희">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">소속학과</label>
              <div class="controls">
                <input type="text" id="inputEmail" placeholder="이름을 입력하세요" value="컴퓨터공학부">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">입학년도</label>
              <div class="controls">
                <input type="text" id="inputEmail" placeholder="이름을 입력하세요" value="컴퓨터공학부">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox"> Remember me
                </label>
                <button type="submit" class="btn">Sign in</button>
              </div>
            </div>
          </form>




      </div>
    </div>

  </div>
</div>
