<div class="container">
  <hr>
  <div class="row">
    <div class="span5">
      <div class="well" style="height:500px;padding-top:10px;">
        <h3 class="text-center">New course</h3>
        <p>새로운 과목을 만듭니다</p>
        <div class="text-center">
          <form action="/courses/create" method="POST">
            <input type="text" class="span4" name="title" placeholder="과목 이름">
            <input type="text" class="span4" name="subject" placeholder="주제">
            <input type="text" class="span4" name="description" placeholder="상세 설명">
            <input type="submit" value="만들기">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
