<div class="container">
  <div class="row">
    <div class="span12">
      <div class="well pull-right" style="margin-top:20px;">
        <!-- 문단수 변경 div -->
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-align-justify"></i>&nbsp;문단 수&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-ok"></i>&nbsp;&nbsp;2 문단</a></li>
            <li><a href="#"><i class="icon-ok"></i>&nbsp;&nbsp;3 문단</a></li>
            <li><a href="#"><i class="icon-ok"></i>&nbsp;&nbsp;4 문단</a></li>
          </ul> 
         </div>
        <!-- 프린트 div -->
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-print"></i>&nbsp;프린트하기&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-ok"></i> 선택된 문항만</a></li>
            <li><a href="#"><i class="icon-ok"></i> 전체 문항</a></li>
          </ul>
        </div>
      </div>
    </div>
    <% 0.upto(2) do %>
    <div class="span4">
      <div class="well">
        <label class="checkbox">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> <h4>이 문단 전체체크</h4>
        </label>
        <% 0.upto 20 do |x| %>
        <label class="checkbox">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> 가화만사성
        </label>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
