<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
        <p class="text-center muted">멋쟁이 사자처럼 프로젝트 #1<br> 서울대인의 암기노트 샤크릿</p>
    </div>
  </div>
</div>
