<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">샤크릿</a>
      <ul class="nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">내 노트&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/study/view">대학국어</a></li>
            <li><a href="/study/view">대학영어</a></li>
            <li><a href="/study/view">대중예술의 이해</a></li>
            <li class="divider"></li>
            <li><a href="/courses/new">새 노트 추가+</a></li>
          </ul> 
          <li><a href="/users/setting">설정</a></li>
        </li>
      </ul>
    </div>
  </div>
</div>
